{
  "client_id": "",
  "client_secret": "",
  "access_token": "",
  "refresh_token": "",
  "chat_socket_url": "",
  "twitch_channel_name": "",
  "twitch_mod": false,
  "subs_only": false,
  "ignore_bots": true,
  "include_pronouns": true,
  "mirror_broadcasts": true,
  "mirror_polls": true,
  "twitch_message_prefix": "",
  "twitch_message_postfix": "",
  "command_trigger": ""
}
